{{#each model as |pin|}}
  <li class="pin-thumbnail">
    <img src="{{pin.url}}" alt="" />
    {{#link-to 'pins.show' pin}}
      {{pin.title}}
    {{/link-to}}
  </li>
{{/each}}

{{link-to "Create" 'pins.create'}}
