<input type="text" type="name" value="name" placeholder="Enter name here">
<input type="text" type="email" value="email" placeholder="Enter email here">
<input type="text" type="password" value="password" placeholder="Enter password here">
<button name="login">Log In</button>
