{{#link-to 'users.create'}}
  <button name="users-create-link">Sign up with email</button>
{{/link-to}}

{{#link-to 'sessions.create'}}
  <button name="session-create-link">Already have an account? Log in here.</button>
{{/link-to}}

{{outlet}}
